:root {
    --main-page-color: #FF4655;
    --home-container-color: #0E1923;
    --home-box-color: #081017;
}

*{
    box-sizing: border-box;
}

.centered{
    text-align: center;
}

body{
    background: var(--main-page-color);
    justify-content: center;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
}

/* =========================== */
/*     NAVBAR TOPBAR CSS       */
/* =========================== */

nav.topbar{
    background: black;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav.topbar .nav-items{
    font-family: "Rubik", sans-serif;
}

.nav-items form {
    display: inline;
    margin: 0;
    padding: 0;
}

nav.topbar .nav-item{
    padding-right: 15px;
    padding-left: 15px;
    text-decoration: none;
    color: white;
}

nav.topbar .nav-item:hover {
    text-decoration: underline;
}

nav.topbar .nav-item.active {
    font-weight: bold;
    color: var(--main-page-color);
}

/*menu button + line som našiel*/
.menu-button {
    display: none;
    flex-direction: column;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 15px;
}
.line {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
    transition: background-color 0.3s, transform 0.3s;
}

.logo{
    padding: 0 2rem;
    font-family: "Rubik", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    color: white;
    white-space: nowrap;
}

/* =========================== */
/*     COMMON PAGE STYLING     */
/* =========================== */
.main-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.home-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--home-container-color);
    padding: 20px 30px;
    width: 100%;
    max-width: 1000px;
    margin: 50px auto;
    border-radius: 10px 10px 0 0;
    color: white;
}

.home-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: var(--home-box-color);
    border-radius: 5px;
    padding: 10px;
    margin-top: 30px;
    width: 100%;
    max-width: 1000px;
    align-items: center;
}

h1{
    font-size: 3rem;
}

/* =========================== */
/*     WIKI HOME PAGE CSS      */
/* =========================== */

.welcome-message{
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
}

.link-word{
    color: var(--main-page-color);
}

.search-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 30px;
}

.search-input{
    width: 500px;
    height: 40px;
    margin-right: 5px;
    border: 2px solid white;
    outline: none;
    background: var(--home-box-color);
    font-family: "Rubik", sans-serif;
    color: white;
}
.search-input:focus{
    border: 2px solid var(--main-page-color);
}

.search-button {
    font-family: "Rubik", sans-serif;
    font-weight: bold;
    height: 40px;
    width: 120px;
    outline: none;
    font-size: 1.2rem;
    background-color: var(--main-page-color);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid var(--main-page-color);
}
.search-button:active{
    border: 2px solid white;
}

/* =========================== */
/*     ITEM PREVIEW GRIDS      */
/* =========================== */

.item-preview-grid{
    display: flex;
    justify-content: center;
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    width: 90%;
    margin-bottom: 20px;
}

.icon-button{
    position: relative;
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;
    max-width: 200px;
    max-height: 200px;
    border: none;
    outline: none;
}

.icon-button:hover{
    outline: 2px solid white;
}

.icon-button:active {
    outline: none;
    border: none;
    box-shadow: none;
}

.button-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.button-image-weapon {
    height:70%;
}

.button-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 23px;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
/* =========================== */
/*  GRIDS FOR CATEGORY PAGES   */
/* =========================== */
/*agent grid*/
.agent-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    justify-content: center;
    gap: 5px;
}
.agent-preview{
    position: relative;
    background: var(--home-box-color);
    height: 390px;
    overflow: hidden;
}

.agent-preview:hover{
    border: 3px solid white;
}

.agent-preview-background{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: 1;
}

.agent-preview-image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: 2;
}
/*weapon grid*/
.weapon-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    justify-content: center;
    gap: 5px;
}

.weapon-preview{
    position: relative;
    background: var(--home-box-color);
    height: 150px;
    overflow: hidden;
}

.weapon-preview:hover{
    border: 3px solid white;
}
/*map grid*/
.map-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    justify-content: center;
    gap: 5px;
}
.map-preview{
    position: relative;
    background: var(--home-box-color);
    height: 390px;
    overflow: hidden;
}

.map-preview:hover{
    border: 3px solid white;
}

/* =========================== */
/*     INDIVIDUAL PAGES        */
/* =========================== */

.favorite-btn {
    background: var(--home-box-color);
    color: white;
    font-family: "Rubik", sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.favorite-button{
    width: 100%;
    display: flex;
    justify-content: center;
}

/*universal*/
.favorite-btn:hover {
    background: var(--main-page-color);
}

.favorite-btn:active {
    border: none;
}
/*agent specific*/
.agent-info-page{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.agent-main-info{
    width: 70%;
    height: auto;
    margin-right: 20px;
}
.agent-quote{
    height: auto;
    background: var(--home-box-color);
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 10px;
}

.quote-text{
    font-weight: bold;
    font-size: 2rem;
}
.quote-author{
    font-style: italic;
    font-size: 1.5rem;
}

.agent-description{
    font-size: 1.2rem;
}

.agent-sidebar{
    width: 300px;
}

.sidebar-header{
    display: flex;
    justify-content: center;
    text-align: center;
    background: var(--main-page-color);
    height: 25px;
    font-family: "Rubik", sans-serif;
    font-weight: bold;
}

.agent-image-container{
    background: var(--home-box-color);
    display: flex;
    min-width: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.agent-info-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.abilities-info{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}

.ability-info{
    display: flex;
    align-items: center;
    width: 100%;
}
.ability-name{
    font-weight: bold;
    font-size: 1.2rem;
}

.ability-image{
    margin: 0 15px 15px 15px;
}

/*weapon specific*/
.weapon-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Weapon Details Page Styling */
.weapon-image {
    margin-bottom: 20px;
}

.weapon-info {
    display: flex;
    flex-direction: column;
    font-family: "Rubik", sans-serif;
}

.weapon-info p {
    font-size: 1.1rem;
    margin: 10px 0;
}

.weapon-info strong {
    color: var(--main-page-color);
}

.weapon-range-list {
    list-style-type: none;
    padding-left: 0;
}

.no-stats-message {
    font-size: 1.2rem;
    color: white;
    text-align: center;
}

.weapon-skins {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-top: 30px;
}

.skin-img {
    max-width: 100%;
    max-height: 200px;
    min-height: 200px;
    height: auto;
    border-radius: 8px;
    margin: 0 15px;
}

.skin-name {
    color: white;
    font-size: 1.2rem;
    text-align: center;
}

.prev-skin-btn, .next-skin-btn {
    background: none;
    color: white;
    font-size: 2rem;
    border: none;
    cursor: pointer;
    margin: 0 10px;
}

.prev-skin-btn:hover, .next-skin-btn:hover {
    color: var(--main-page-color);
}

.prev-skin-btn:active, .next-skin-btn:active {
    color: var(--main-page-color);
}

/*map specific*/
.map-splash {
    width: 100%;
    padding: 10px;
}
.favorite-button-map .favorite-btn  {
    width: 100%;
}

/* =========================== */
/*     FORUM CSS               */
/* =========================== */

.new-discussion-btn {
    color: white;
    font-family: "Rubik", sans-serif;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.cancel-btn {
    background: var(--home-box-color);
    color: white;
    font-family: "Rubik", sans-serif;
    margin-top: 20px;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    border: none;
}

.submit-btn {
    background: var(--main-page-color);
    color: white;
    font-family: "Rubik", sans-serif;
    margin-top: 20px;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    border: none;
}

.cancel-btn:hover {
    outline: 2px solid white;
}
.submit-btn:hover {
    outline: 2px solid white;
}

.discussion-preview{
    outline: 2px solid white;
    border-radius: 10px;
    padding: 5px;
    margin-top: 20px;
}
.discussion-preview h4{
    font-weight: bold;
    font-size: 20px;
}

.discussion-preview-text{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.discussion-preview-actions{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
}

input, textarea {
    background-color: var(--home-box-color);
    border: 2px solid white;
    color: white;
    font-size: 1rem;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    width: 100%;
    outline: none;
}

input:focus, textarea:focus {
    border-color: var(--main-page-color);
}

.hr{
    margin-top: 0;
}

.pagination-nav{
    margin-top: 20px;
    color: white;
}

.pagination-text{
    color: white;
}

.pagination-container{
    display: flex;
    justify-content: center;
}

.discussion-preview-actions{
    display: flex;
    justify-content: space-between;
}

.discussion-preview-edit-action{
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
}

.discussion-preview-vote-action{
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
}


@media (max-width: 824px) {
    .nav-items {
        display: none;
    }

    .menu-button {
        display: flex;
    }
}

@media (max-width: 768px) {

    .agent-info-page{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .agent-quote{
        margin-right: 0;
    }
    .agent-sidebar{
        order: 1;
    }
    .agent-main-info{
        order: 2;
        width: 100%;
        margin-right: 0;
    }

}

@media (max-width: 1000px) and (min-width: 881px) {
    .item-preview-grid .icon-button:nth-child(3) {
        display: none;
    }

}



@media (max-width: 880px) and (min-width: 551px) {
    .item-preview-grid .icon-button:nth-child(3) {
        display: none;
    }
    .item-preview-grid .icon-button:nth-child(2) {
        display: none;
    }
}
@media (max-width: 550px) {
    .item-preview-grid .icon-button:nth-child(3) {
        display: none;
    }
    .item-preview-grid .icon-button:nth-child(2) {
        display: none;
    }
    .item-preview-grid .icon-button:nth-child(1) {
        display: none;
    }

    .ability-info {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .ability-image {
        margin-bottom: 10px;
    }
}
