:root {
    --main-page-color: #FF4655;
    --home-container-color: #0E1923;
    --home-box-color: #081017;
}

*{
    box-sizing: border-box;
}

.centered{
    text-align: center;
}

body{
    background: var(--main-page-color);
    justify-content: center;
}

nav{
    background: black;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-items{
    font-family: "Rubik", sans-serif;
}
.nav-item{
    padding-right: 15px;
    padding-left: 15px;
    text-decoration: none;
    color: white;
}

.nav-item:hover {
    text-decoration: underline;
}

.nav-item.active {
    font-weight: bold;
    color: var(--main-page-color);
}

/*menu button + line som našiel*/
.menu-button {
    display: none;
    flex-direction: column;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 15px;
}
.line {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
    transition: background-color 0.3s, transform 0.3s;
}

.logo{
    padding: 0 2rem;
    font-family: "Rubik", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    color: white;
    white-space: nowrap;
}

.main-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.home-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--home-container-color);
    padding: 20px 30px;
    width: 100%;
    max-width: 1000px;
    margin: 50px auto;
    border-radius: 10px 10px 0 0;
    color: white;
}

.home-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: var(--home-box-color);
    border-radius: 5px;
    padding: 10px;
    margin-top: 30px;
    width: 100%;
    max-width: 1000px;
    align-items: center;
}

h1{
    font-size: 3rem;
}

.welcome-message{
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
}

.link-word{
    color: var(--main-page-color);
}

.search-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 30px;
}

.search-input{
    width: 500px;
    height: 40px;
    margin-right: 5px;
    border: 2px solid white;
    outline: none;
    background: var(--home-box-color);
    font-family: "Rubik", sans-serif;
    color: white;
}
.search-input:focus{
    border: 2px solid var(--main-page-color);
}

.search-button {
    font-family: "Rubik", sans-serif;
    font-weight: bold;
    height: 40px;
    width: 120px;
    outline: none;
    font-size: 1.2rem;
    background-color: var(--main-page-color);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid var(--main-page-color);
}
.search-button:active{
    border: 2px solid white;
}

.item-preview-grid{
    display: flex;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 90%;
    margin-bottom: 20px;
}

.icon-button{
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;
    max-width: 200px;
    max-height: 200px;
}
.button-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.button-text{
    position: relative;
    text-align: center;
    color: white;
}

.agent-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    justify-content: center;
    gap: 5px;
}
.agent-preview{
    position: relative;
    background: var(--home-box-color);
    height: 390px;
    overflow: hidden;
}

.agent-preview:hover{
    border: 3px solid white;
}

.agent-preview-background{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: 1;
}

.agent-preview-image{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: 2;
}

.agent-info-page{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.agent-main-info{
    width: 70%;
    height: auto;
    margin-right: 20px;
}
.agent-quote{
    height: auto;
    background: var(--home-box-color);
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 10px;
}

.quote-text{
    font-weight: bold;
    font-size: 2rem;
}
.quote-author{
    font-style: italic;
    font-size: 1.5rem;
}

.agent-description{
    font-size: 1.2rem;
}

.agent-sidebar{
    width: 300px;
}

.sidebar-header{
    display: flex;
    justify-content: center;
    text-align: center;
    background: var(--main-page-color);
    height: 25px;
    font-family: "Rubik", sans-serif;
    font-weight: bold;
}

.agent-image-container{
    background: var(--home-box-color);
    display: flex;
    min-width: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.agent-info-image{
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    left: 50%;
    object-fit: cover;
}

.abilities-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ability-info{
    display: flex;
    align-items: center;
}

.ability-name{
    font-weight: bold;
    font-size: 1.2rem;
}
.ability-desc{
}
.ability-image{
    margin: 0 15px 15px 15px;
}

@media (max-width: 768px) {
    .nav-items {
        display: none;
    }
    .menu-button {
        display: flex;
    }

    .agent-info-page{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .agent-quote{
        margin-right: 0;
    }
    .agent-sidebar{
        order: 1;
    }
    .agent-main-info{
        order: 2;
        width: 100%;
        margin-right: 0;
    }

}

@media (max-width: 1000px) and (min-width: 881px) {
    .item-preview-grid .icon-button:nth-child(3) {
        display: none;
    }

}

@media (max-width: 880px) and (min-width: 551px) {
    .item-preview-grid .icon-button:nth-child(3) {
        display: none;
    }
    .item-preview-grid .icon-button:nth-child(2) {
        display: none;
    }
}
@media (max-width: 550px) {
    .item-preview-grid .icon-button:nth-child(3) {
        display: none;
    }
    .item-preview-grid .icon-button:nth-child(2) {
        display: none;
    }
    .item-preview-grid .icon-button:nth-child(1) {
        display: none;
    }
}
